*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
/*    -ms-overflow-style: none;
body::-webkit-scrollbar{
    display: none;
} */
.div-box{
    display: flex;
    flex-flow: row wrap;
}

.div-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 100%;
    
}
.div-1{
    display: flex;
    align-items: center;
    height: 31%;
    flex: 0 1 100%;
    padding: 0 1%;
}
.div-2{
    display: flex;
    height: 52%;
    flex: 0 1 50%;
    padding: 0 1%;
    margin: 2vh 0;
    align-self: center;
    justify-content: center;
    overflow: hidden;

}
.title{
    font-size: 7vw;
    font-weight: normal;
    letter-spacing: .1vw;
/*    margin-top: 1vh; */
    margin-bottom: 0;
    padding: 0;
    border: 0;
}
.p-1{
    letter-spacing: .21vw;
    line-height: 120%; /* 14.4pt */
    font-size: 1.3vw; /* 11pt*/
    text-align-last: left;
    text-align: justify;
}
.blog-image{
    max-width: 100%;
}
@media screen and (max-width: 1024px) {
    .div-2{
        flex: 0 1 100%;
    }
    .p-1{
        font-size: 10pt;
    }
}